/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important;
        /* Black prints faster:
                                          http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */
    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

.engine {
    position: absolute;
    top: 315px;
    left: 300px;
    visibility: hidden;
}

.ggas {
    position: absolute;
    top: 427px;
    left: 585px;
    visibility: hidden;
    z-index: 1;
}
.ggas img {
    margin: 0;
    padding: 0;
    border: 0px;
    width: 342px;
    height: 218px;
}
.airarrows {
    position: absolute;
    top: 171px;
    left: 409px;
    visibility: hidden;
    width: 136px;
    height: 168px;
    z-index: 1;
}

.liquid {
    position: absolute;
    top: 560px;
    left: 855px;
    visibility: hidden;
    z-index: 5;
    width: 68px;
    height: 58px;
}
.liquid img {
    margin: 0;
    padding: 0;
    border: 0px;
    width: 68px;
    height: 58px;
}

.oilpipebig {
    position: absolute;
    top: 212px;
    left: 293px;
    visibility: hidden;
    z-index: 5;
    width: 68px;
    height: 58px;
}

.oilpipefromsep {
    position: absolute;
    top: 553px;
    left: 348px;
    visibility: hidden;
    /*z-index: 1;*/
    width: 68px;
    height: 58px;
}
.oilpipefromsep img {
    margin: 0;
    padding: 0;
    border: 0px;
    width: 495px;
    height: 164px;
}

.oilpipetoengine {
    position: absolute;
    top: 515px;
    left: 367px;
    visibility: hidden;
    z-index: 5;
    width: 68px;
    height: 58px;
}

.oilpipefromadaptertoadapter {
    position: absolute;
    top: 619px;
    left: 431px;
    visibility: hidden;
    z-index: 5;
    width: 68px;
    height: 58px;
}

.oilpipefromadaptertoengine {
    position: absolute;
    top: 631px;
    left: 347px;
    visibility: hidden;
    z-index: 5;
    width: 68px;
    height: 58px;
}

.oilpipefromadaptertoengine img {
    margin: 0;
    padding: 0;
    border: 0px;
    width: 123px;
    height: 76px;
}

.oilpipefromadaptertcooler {
    position: absolute;
    top: 615px;
    left: 387px;
    visibility: hidden;
    z-index: 5;
    width: 68px;
    height: 58px;
}

.oilpipefromadaptertcooler img {
    margin: 0;
    padding: 0;
    border: 0px;
    width: 46px;
    height: 45px;
}

.oilpipefrombypasstocooler {
    position: absolute;
    top: 515px;
    left: 335px;
    visibility: hidden;
    z-index: 5;
    width: 68px;
    height: 58px;
}

.oilpipefrombypasstocooler img {
    margin: 0;
    padding: 0;
    border: 0px;
    width: 47px;
    height: 88px;
}

.water {
    position: absolute;
    top: 584px;
    left: 251px;
    visibility: hidden;
    z-index: 5;
    width: 158px;
    height: 131px;
}

.water img {
    margin: 0;
    padding: 0;
    border: 0px;
    width: 158px;
    height: 131px;
}

.smallgreenpipe {
    position: absolute;
    top: 425px;
    left: 572px;
    visibility: hidden;
    z-index: 1;
    width: 158px;
    height: 135px;
}

.smallgreenpipe img {
    margin: 0;
    padding: 0;
    border: 0px;
    width: 303px;
    height: 140px;
}

.airvalvespring {
    position: absolute;
    top: 398px;
    left: 497px;
    visibility: hidden;
    z-index: 5;
    width: 158px;
    height: 131px;
}

.airvalvespring img {
    margin: 0;
    padding: 0;
    border: 0px;
    width: 135px;
    height: 58px;
}
.resarrows {
    position: absolute;
    top: 470px;
    left: 857px;
    visibility: hidden;
    z-index: 5;
    width: 158px;
    height: 131px;
}

.resarrows img {
    margin: 0;
    padding: 0;
    border: 0px;
    width: 60px;
    height: 92px;
}
.solenoidvalve {
    position: absolute;
    top: 464px;
    left: 587px;
    visibility: hidden;
    z-index: 5;
    width: 158px;
    height: 131px;
}

.solenoidvalve img {
    margin: 0;
    padding: 0;
    border: 0px;
    width: 65px;
    height: 20px;
}

.solenoidvalveblowdown {
    position: absolute;
    top: 384px;
    left: 710px;
    visibility: hidden;
    z-index: 5;
    width: 158px;
    height: 131px;
}

.solenoidvalveblowdown img {
    margin: 0;
    padding: 0;
    border: 0px;
    width: 20px;
    height: 65px;
}
.airvalvespringsmall {
    position: absolute;
    top: 368px;
    left: 522px;
    visibility: hidden;
    z-index: 5;
    width: 158px;
    height: 131px;
}

.airvalvespringsmall img {
    margin: 0;
    padding: 0;
    border: 0px;
    width: 16px;
    height: 9px;
}
.sepspring {
    position: absolute;
    top: 372px;
    left: 883px;
    visibility: hidden;
    z-index: 5;
    width: 158px;
    height: 131px;
}

.sepspring img {
    margin: 0;
    padding: 0;
    border: 0px;
    width: 19px;
    height: 33px;
}
.enginespring {
    position: absolute;
    top: 594px;
    left: 470px;
    visibility: hidden;
    z-index: 5;
    width: 158px;
    height: 131px;
}

.enginespring img {
    margin: 0;
    padding: 0;
    border: 0px;
    width: 20px;
    height: 57px;
}

iframe[seamless] {
    border: none;
}
